* {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    border: 0;
    outline: 0;
    max-width: 100%;
}

body {
    background-color: $bgColor;
    font-family: $font;
    user-select: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: $font1;
    overflow-x: hidden;
}

a {
    display: inline-block;
    color: $lightBlack;
    @include animate();
}

ol li,
ul li {
    list-style-type: none;
    margin: 0;
}

a {
    color: $color;
    display: inline-block;
    @include animate();
    font-family: $font1;
}

.color {
    color: $color;
}

a:hover,
a:focus {
    color: $bgColor;
    text-decoration: none;
}

p {
    font-size: $fsNormal;
    line-height: 24px;
    margin: 0;
    font-family: $font2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font1;
}

@media (min-width: 1200px){ 
    .container {
        max-width: 1170px;
    }
}

// 404 page
section.not-found {
    padding: 160px 0;
}