$color: #245cd1;
$black: #222;
$white: #fff;
$bgColor: #ffffff;
$bgColor: #F6F8FA;
$lightBlack: #444;
$orange: #FD6179;
$blue: #1f7ae2;
$purple: #4E5BDE;

// Fonts
$font1 : "'Poppins', sans-serif"
sans-serif;
$font2 : 'Open Sans',
sans-serif;

// Font size
$fsNormal : 14px;
$fsSmall : 16px;
$fsMedium : 20px;
$fsH1 : 42px;
$fsH2 : 36px;
$fsH3 : 30px;
$fsH4 : 26px;
$fsH5 : 22px; 
$fsH6 : 18px;